*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Exo', sans-serif;
}

html {
    scroll-behavior: smooth;
  }

body{
    background-color: rgb(255, 255, 255);
}


header{
    height: 100px;
}

.links-container{
    display: flex;
    flex-direction: row;
    padding: 5px;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes slideinmuhammed {
    from {transform: translateX(-160px);}
    to   {transform: translateX(160px);}
}
@keyframes slideinqadan {
    from {transform: translateX(160px);}
    to   {transform: translateX(-160px);}
}

@keyframes slideinmuhammedMobile {
    from {transform: translateX(-160px);}
    to   {transform: translateX(0px);}
}
@keyframes slideinqadanMobile {
    from {transform: translateX(160px);}
    to   {transform: translateX(0px);}
}

@keyframes slidedownnav{
    from {transform: translateY(-150px);}
    to   {transform: translateY(0px);}
}
.nav{
    display: inline-block;
    position: relative;
    background: none;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    cursor: pointer;
    margin: 20px 30px;
    text-decoration: none;
    font-family: 'Exo', sans-serif;
}

    #_1s{
        animation: slidedownnav 1.5s;
    }
    #_2s{
        animation: slidedownnav 2s;
    }
    #_3s{
        animation: slidedownnav 3s;
    }
  span{
    display: block;
    padding: 12.5px 40px;
  }
  .nav::before, .nav::after{
    content:"";
    width: 0;
    height: 1px;
    position: absolute;
    transition: all 0.2s linear;
    background: black;
  }
  
  span::before, span::after{
    content:"";
    width:1px;
    height:0;
    position: absolute;
    transition: all 0.2s linear;
    background: black;
  }
  .nav:hover::before, .nav:hover::after{
    width: 100%;
  }
  .nav:hover span::before, .nav:hover span::after{
    height: 100%;
  }

.nav::before, .nav::after{
    transition-delay: 0.2s;
  }
  .nav span::before, .nav span::after{
    transition-delay: 0s;
  }
  .nav::before{
    right: 0;
    top: 0;
  }
  .nav::after{
    left: 0;
    bottom: 0;
  }
  .nav span::before{
    left: 0;
    top: 0;
  }
  .nav span::after{
    right: 0;
    bottom: 0;
  }
  .nav:hover::before, .nav:hover::after{
    transition-delay: 0s;
  }
  .nav:hover span::before, .nav:hover span::after{
    transition-delay: 0.2s;
  }

  .view-container{
      height: 600px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      /* animation: fadein .5s; */
  }

  .muhammed, .qadan{
      font-size: 6em;
      font-family: 'Exo 2', sans-serif;
  }

  .qadan{
      transform: translateX(-160px);
      animation: fadein 4.5s;
      animation: slideinqadan 2s;
  }
  .muhammed{
    transform: translateX(160px);
    animation: fadein 3s;
    animation: slideinmuhammed 2s;
}

    #about{
        height: 1000px;
        margin-top: 140px;
        font-size: 1.6em;
    }

    #about-icons{
        color: rgb(58, 58, 58);
    }


    .about-container{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        margin: 20px;
        padding: 20px;
        align-items: baseline;
    }
    .about-personal, .about-work, .about-fun{
        width: 26%;
        display: flex;
        flex-direction: column;
        margin: 20px;
        justify-content: center;
        text-align: center;
    }

.about-list{
    text-align: left;
    margin: 20px;
}

.about-list ul {
    padding: 20px;
}

.about-list ul li{
    padding: 30px 0px;
    list-style: none;
}

.work{
    display: flex;
    flex-direction: row;
}

.flip-card {
    background-color: transparent;
    margin: 30px;
    width: 450px;
    height: 280px;
    perspective: 1000px;
  }
  

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  

  .flip-card-front {

    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    font-family: 'Exo 2', sans-serif;
    font-weight: 100;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(58, 58, 58);
  }
  

  .flip-card-back {

    background-color: rgb(255, 255, 255);
    color: white;
    transform: rotateY(180deg);
  }

  .work-info-container{
      display: flex;
      flex-direction: column;
      margin-left: 80px;
  }
  .work-title{
    font-size: 2em;
    margin: 10px;
    padding: 10px;
  }
  .work-desc{
    width: 70vmin;
    margin: 10px;
    padding: 10px;
  }
  .tech-used{
    margin: 10px 0px;
    padding: 10px 0px;
  }
  .tech-used li{
    margin: 5px 0px;
    padding: 5px 0px;
    list-style: none;
  }
.tech-used-title{
    font-size: 1.4em;
}

.launch-container{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.prev-and-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.launch-container div a{
    transition: all .3s
}

.launch-container a:hover{
    color: rgb(69, 69, 69);
}

.work{
    margin-bottom: 230px;
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-left: 50px;
}
.work-reverse{
    margin-bottom: 230px;
    display: flex;
    width: 90%;
    flex-direction: row-reverse;
}

.work-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#myInputEmail::selection{
    background: white;
}
#myInputEmail:focus {
    outline: none !important;
    border:1px solid rgb(255, 255, 255);
}

.contact-me button{
    background:none;
    border:none;
    font-size:15em;
    color: black;
    transition: all .3s
}
.contact-me button:hover,
.contact-me a:hover{
    cursor: pointer;
    color: rgb(58, 58, 58);
    border: none;
}
.contact-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
    margin-bottom: 0px;
    align-items: center;
}

.contact-me button:active,
.contact-me a:active,
.contact-me button:focus,
.contact-me a:focus{
    border: none;
    outline: none;
}


.contact-me a{
    color: black;
    transition: all .3s;
    font-size: 15em;
}


.copied-alert-email{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1;
    background-color: white;
    bottom: 0;
    align-items: center;
    opacity: 0;
}
.copied-alert-phone{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1;
    background-color: white;
    bottom: 0;
    align-items: center;
    opacity: 0;
}
.alert-text{
    display: flex;
    justify-content: center;
}
.alert-text p{
    font-size: 5.5em;
    width: 60%;
}

#phone-number-text{
    font-size: 3em;
    z-index: 1;
    transition: all .4s;
}

#phone-number-text:hover{
    color: rgb(138, 138, 138);
}

#phone-number-container{
    display: flex;
    justify-content: center;
    align-content: center;
}
#myInputPhone::selection{
    background: white;
}
#myInputPhone:focus {
    outline: none !important;
    border:1px solid rgb(255, 255, 255);
}


.back-top-container{
    display: flex;
    justify-content: flex-end;
}

#back-to-the-top{
    margin-top: 0px;
    padding-top: 0px;
    right: 0;
    margin-bottom: 50px;
    font-size: 1.5em;
}


@media screen and (max-width: 1025px){

    .contact-me a{
        font-size: 15em;
    }
    
    .contact-me button{
        font-size:15em;
    }


    #phone-number-text{
        font-size: 3em;
    }

    .muhammed, .qadan{
        font-size: 6em;
        font-family: 'Exo 2', sans-serif;
    }
  
    .qadan{
        transform: translateX(-100px)
    }
    .muhammed{
      transform: translateX(100px)
  }
  .flip-card {
      display: none;
  }
  #work{
    display: flex;
    justify-content: center;
  }
  .work-info-container{
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin: 5px;
    width: 100%;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
  .work{
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 0px;
    margin: 5px;
}
.work-reverse{
    margin-bottom: 100px;
    display: flex;
    width: 100%;
    flex-direction: row;
}
  #phone-number-text{
    z-index: 2;
}
}


@media screen and (max-width: 750px){
    .about-container{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin: 10px;
        padding: 10px;
        /* align-items: baseline; */
    }

    #about{
        display: flex;
        height: 2000px;
        margin-top: 0px;
        font-size: 1.3em;
        justify-content: center;
    }
    .about-personal, .about-work, .about-fun{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 10px;
        justify-content: center;
        text-align: center;
    }
    .view-container{
        height: 400px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .alert-text p{
        font-size: 1em;
        width: 80%;
    }
}

@media screen and (max-width: 727px){

    .qadan{
        transform: translateX(0px);
        animation: slideinqadanMobile 2s;
    }
    .muhammed{
      transform: translateX(0px);
      animation: slideinmuhammedMobile 2s;
  }

}

@media screen and (max-width: 680px){
    .contact-me a{
        font-size: 7em;
    }
    
    .contact-me button{
        font-size:7em;
    }


    #phone-number-text{
        font-size: 2em;
        z-index: 2;
    }

    .muhammed, .qadan{
        font-size: 6em;
        font-family: 'Exo 2', sans-serif;
    }

}

@media screen and (max-width: 625px){

    .nav{
        margin: 10px 15px;
        border: none;
      }
}

@media screen and (max-width: 550px){


    .view-container{
        height: 600px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
  
    .muhammed, .qadan{
        font-size: 4em;
    }
    .links{
        display: flex;
        flex-direction: column;
        padding: 5px;
    }

}